.form {
  height: 30px;
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: aqua;
}

.form_btn {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid red;
  color: black;
}

.form_iput {
  width: 330px;
}
