.list_box {
  max-width: 100%;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 22px;
  padding: 0;
}

.list_items {
  max-width: 400px;
}

.descr_box {
  display: flex;
  justify-content: space-between;
}
p {
  display: flex;
  flex-direction: column;
}
